@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ff-primary: "Karla", sans-serif;
  --ff-secondary: "Rubik", sans-serif;
  --clr-primary: #24116a;
  --clr-secondary: #2c7da6;
  --clr-tertiary: #f8f7fd;
  --clr-subtle: #43e8e1;
  --clr-line: #3726a6;
  --grey-1: #323953;
  --grey-2: #686868;
  --grey-3: #ffffff;
  --grey-4: #989595;
  --grey-5: #e1dddd;
  --grey-6: #a3a3ab;
  --white: #fff;
  --orange: #f59109;
  --transition: 0.4s;
}
/* ---------------Global------------------- */
span,
p,
h1,
a {
  font-family: var(--ff-primary);
}
.container {
  width: 100%;
  height: 100vh;
}

/* ---------------Contact-------------------- */
.contact {
  height: 800px;
  width: 100%;
  background: radial-gradient(
    1250px 750px at right bottom,
    var(--clr-secondary),
    var(--clr-primary)
  );
}
.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 75px;
  font-size: 12px;

  color: #bababd;
}
.contact-info {
  display: flex;
  gap: 25px;
  margin-left: 5px;
}
.login {
  display: flex;
  align-items: center;
  gap: 25px;
}
.media {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
  margin-bottom: 10px;
}
.contact i {
  padding-right: 3px;
  color: var(--grey-5);
}
#media {
  display: flex;
  font-size: 10px;
}
.border {
  width: 67%;
  height: 1px;
  background-color: #525b7f;
  margin-left: 255px;
}

/* -----------------Navbar--------------------- */
.header {
  width: 100%;
  height: 740px;
  position: relative;
  background: radial-gradient(
    1250px 550px at right bottom,
    var(--clr-secondary),
    var(--clr-primary)
  );
  padding: 1px;
}
.nav {
  height: 75px;
  font-family: var(--ff-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 237px;
  margin-top: 15px;
}
.logo {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-img {
  height: 60px;
  width: 50px;
}
.nav-img img {
  height: 100%;
}
.logo h3 {
  font-size: 28px;
  font-weight: 800;
  color: var(--clr-secondary);
}
.nav span {
  color: var(--white);
}
#nav-check {
  display: none;
}
.navbar {
  position: relative;
  height: 100%;
  display: flex;
  gap: 27px;
  margin-right: 55px;
  align-items: center;
  list-style: none;
  font-size: 14px;
}
.navbar .media {
  display: none;
}
.navbar li {
  cursor: pointer;
  color: var(--white);
  font-weight: 400;
}
.navbar li a {
  display: block;
  text-decoration: none;
  color: var(--white);
}
.navbar li a:hover {
  color: var(--clr-secondary);
}
.navbar li:hover {
  color: var(--clr-secondary);
}
.navbar .new {
  position: absolute;
  top: 14px;
  font-size: 11px;
  left: 115px;
  background-color: var(--clr-secondary);
  padding: 1px 7px;
  color: var(--white);
  border-radius: 4px;
}
.bars {
  display: none;
}
.cross {
  display: none;
}
/* ---------------desktop----------------- */
@media screen and (max-width: 1200px) {
  .nav {
    height: 75px;
    gap: 170px;
  }
  .logo {
    margin-right: 7px;
  }
  .logo h3 {
    font-size: 25px;
  }
  .navbar {
    height: 100%;
    display: flex;
    gap: 20px;
    margin-right: 55px;
    align-items: center;
    list-style: none;
    font-size: 13px;
  }
  .navbar .media {
    display: none;
    position: absolute;
    top: 470px;
    border: 1.5px solid var(--grey-5);
  }
  .navbar .media i:hover {
    color: var(--clr-secondary);
  }
  .navbar .new {
    top: 13px;
    font-size: 10px;
    left: 92px;
    background-color: var(--clr-secondary);
    padding: 1px 6px;
    color: var(--white);
    border-radius: 4px;
  }
}
/* ---------------laptop----------------------- */
@media screen and (max-width: 1024px) {
  .nav {
    height: 70px;
    gap: 100px;
  }
  .logo {
    margin-right: 36px;
  }
  .logo h3 {
    font-size: 22px;
  }
  .navbar {
    height: 100%;
    display: flex;
    gap: 20px;
    margin-right: 55px;
    align-items: center;
    list-style: none;
    font-size: 12px;
  }
  .navbar .media {
    display: none;
    position: absolute;
    top: 470px;
    border: 1.5px solid var(--grey-5);
  }
  .navbar .media i:hover {
    color: var(--clr-secondary);
  }
  .navbar .new {
    top: 13px;
    font-size: 10px;
    left: 92px;
    background-color: var(--clr-secondary);
    padding: 1px 6px;
    color: var(--white);
    border-radius: 4px;
  }
}
/* -------------tab---------------------- */
@media screen and (max-width: 768px) {
  .nav {
    height: 60px;
  }
  .logo {
    margin-right: 536px;
  }
  .logo h3 {
    font-size: 22px;
  }
  .new {
    display: none;
  }
  #nav-check {
    display: none;
  }
  #nav-check:checked ~ .navbar {
    transform: translateX(0);
  }
  .navbar {
    width: 60%;
    height: 100%;
    position: fixed;
    padding-top: 70px;
    border: 2px solid var(--clr-secondary);
    top: 32px;
    right: -55px;
    z-index: 1;
    flex-direction: column;
    background-color: var(--white);
    transform: translateX(100%);
    transition: var(--transition);
  }

  .navbar li {
    width: 100%;
    transition: var(--transition);
  }
  .navbar li a {
    display: block;
    width: 100%;
    padding: 7px 40px;
    transition: var(--transition);
  }
  .navbar .media {
    display: block;
    position: absolute;
    top: 470px;
    border: 1.5px solid var(--grey-5);
  }
  .navbar .media i {
    margin: 10px;
    color: var(--grey-4);
  }
  .navbar .media i:hover {
    color: var(--clr-secondary);
  }
  .navbar li {
    cursor: pointer;
    color: var(--grey-2);
    font-weight: 400;
  }
  .navbar li a {
    display: block;
    text-decoration: none;
    color: var(--grey-2);
  }
  .navbar li:hover {
    background-color: var(--clr-secondary);
    color: var(--white);
  }
  .navbar li a:hover {
    color: var(--white);
  }
  .navbar li i {
    display: none;
  }
  .bars {
    display: block;
    position: absolute;
    left: 570px;
    top: 42px;
    color: var(--white);
  }
  .cross {
    display: block;
    position: absolute;
    left: 350px;
    top: 25px;
  }
  .bars:hover {
    color: var(--clr-secondary);
    cursor: pointer;
  }
  .cross:hover {
    color: var(--clr-secondary);
    cursor: pointer;
  }
  .navbar li p {
    display: none;
  }
}
/* --------------mobile---------------------- */
@media screen and (max-width: 576px) {
  .nav {
    height: 60px;
  }
  .logo {
    margin-right: 387px;
  }
  .logo h3 {
    font-size: 21px;
  }
  .new {
    display: none;
  }
  #nav-check {
    display: none;
  }
  #nav-check:checked ~ .navbar {
    transform: translateX(0);
  }
  .navbar {
    width: 60%;
    height: 100%;
    position: fixed;
    padding-top: 70px;
    border: 2px solid var(--clr-secondary);
    top: 32px;
    right: -55px;
    z-index: 1;
    flex-direction: column;
    background-color: var(--white);
    transform: translateX(100%);
    transition: var(--transition);
  }

  .navbar li {
    width: 100%;
    transition: var(--transition);
  }
  .navbar li a {
    display: block;
    width: 100%;
    padding: 7px 40px;
    transition: var(--transition);
  }
  .navbar .media {
    display: block;
    position: absolute;
    top: 470px;
    border: 1.5px solid var(--grey-5);
  }
  .navbar .media i {
    margin: 10px;
    color: var(--grey-4);
  }
  .navbar .media i:hover {
    color: var(--clr-secondary);
  }
  .navbar li:hover {
    background-color: var(--clr-secondary);
    color: var(--white);
  }
  .navbar li a:hover {
    color: var(--white);
  }
  .navbar li i {
    display: none;
  }
  .bars {
    display: block;
    position: absolute;
    left: 435px;
    top: 38px;
  }
  .cross {
    display: block;
    position: absolute;
    left: 250px;
    top: 25px;
  }
  .bars:hover {
    color: var(--clr-secondary);
    cursor: pointer;
  }
  .cross:hover {
    color: var(--clr-secondary);
    cursor: pointer;
  }
  .navbar li p {
    display: none;
  }
}
/* -------------------------Home------------------------------------ */
.heading {
  width: 100%;
  margin-top: 145px;
}
.heading h1 {
  font-family: var(--ff-secondary);
  width: 600px;
  margin: 0 auto 0 270px;
  text-align: start;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 670;
  color: var(--white);
}
.heading p {
  margin-top: 23px;
  margin-left: 270px;
  text-align: start;
  font-size: 19px;
  font-weight: 300;
  color: var(--white);
  width: 500px;
  line-height: 25px;
  font-family: var(--ff-primary);
}
.heading .price {
  color: var(--orange);
  font-weight: 700;
}
.header .img {
  width: 610px;
  position: absolute;
  top: 185px;
  left: 860px;
}
.header .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.heading .btn {
  margin-top: 45px;
  margin-left: 270px;
}
.heading .btn a {
  text-transform: uppercase;
  width: 140px;
  padding: 12px 30px;
  border-radius: 30px;
  border: 1px solid var(--clr-primary);
  text-decoration: none;
  color: var(--clr-primary);
  font-size: 12px;
  font-weight: 750;
  font-family: var(--ff-primary);
  background-color: var(--white);
}
/* -------------head-------------------- */
@media screen and (max-width: 1420px) {
  .heading {
    padding-left: 180px;
    margin-top: 120px;
  }
  .heading h1 {
    width: 370px;
    line-height: 42px;
    margin: 0px;
    font-size: 35px;
  }
  .heading p {
    width: 380px;
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
  }
  .header .img {
    width: 470px;
    position: absolute;
    top: 210px;
    left: 620px;
  }
  .heading .btn {
    margin-left: 0px;
  }
}
/* -------------laptop------------------ */
@media screen and (max-width: 1024px) {
  .heading {
    padding-left: 40px;
    margin-top: 120px;
  }
  .heading h1 {
    width: 290px;
    line-height: 35px;
    margin: 0px;
    font-size: 27px;
  }
  .heading p {
    width: 290px;
    font-size: 15px;
    margin: 0;
    margin-top: 20px;
  }
  .header .img {
    width: 410px;
    position: absolute;
    top: 210px;
    left: 370px;
  }
  .heading .btn {
    margin-left: 0px;
  }
}
/* -------------tab---------------- */
@media screen and (max-width: 768px) {
  .heading {
    padding-left: 60px;
    margin-top: 120px;
  }
  .heading h1 {
    width: 270px;
    line-height: 35px;
    margin: 0px;
    font-size: 25px;
  }
  .heading p {
    width: 290px;
    font-size: 15px;
    margin: 0;
    margin-top: 20px;
  }
  .header .img {
    width: 410px;
    position: absolute;
    top: 370px;
    left: 200px;
  }
  .heading .btn {
    margin-left: 0px;
  }
  .heading .btn a {
    padding: 12px 20px;
    font-size: 11px;
  }
}
/* --------------mobile----------------------- */
@media screen and (max-width: 576px) {
  .heading {
    margin-top: 70px;
  }
  .heading h1 {
    margin: 0px;
    font-size: 20px;
  }
  .heading p {
    width: 400px;
    font-size: 15px;
    margin: 0;
    margin-top: 20px;
  }
  .header .img {
    width: 370px;
    position: absolute;
    top: 390px;
    left: 50px;
  }
  .heading .btn {
    margin-left: 0px;
  }
  .heading .btn a {
    padding: 12px 20px;
    font-size: 11px;
  }
}

/* ------------------domain-------------------------- */
.domain {
  padding: 5px 0px;
  width: 770px;
  height: 180px;
  background-color: var(--white);
  margin-left: 373px;
  margin-top: 175px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.domain p {
  text-transform: capitalize;
  text-align: center;
  color: var(--grey-2);
  font-weight: 500;
  padding-top: 25px;
  font-size: 17px;
}
.domain input {
  margin: 15px 70px 0px;
  width: 660px;
  padding: 17px;
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.input::placeholder {
  font-family: var(--ff-primary);
  font-weight: 500;
  color: var(--grey-4);
  padding-left: 5px;
  font-size: 13px;
}
.domain-search {
  position: absolute;
  right: 287px;
  top: 75px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 13px;
  font-family: var(--ff-primary);
  color: var(--grey-4);
}
.btns {
  position: absolute;
  outline: none;
  border: none;
  top: 71px;
  right: 80px;
  background: var(--clr-primary);
  padding: 10px 37px;
  border-radius: 20px;
  color: var(--white);
  font-family: var(--ff-primary);
  text-transform: uppercase;
}
.domain-name {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}
.domain-name li {
  list-style: none;
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 15px;
}
.orange {
  color: var(--orange);
}
.purple {
  color: #7545bd;
}
.gblue {
  color: #1aa4a2;
}
.pink {
  color: #b63661;
}
.green {
  color: #46a674;
}
.blue {
  color: #335cc0;
}
/* ------------------desktop-------------------------------- */
@media screen and (max-width: 1400px) {
  .domain {
    margin-top: 230px;
    margin-left: 190px;
  }
}
/* ------------------desktop-------------------------------- */
@media screen and (max-width: 1200px) {
  .domain {
    margin-top: 230px;
    margin-left: 100px;
  }
  .domain p {
    font-size: 15px;
  }
  .domain input {
    margin: 15px 20px 0px 30px;
    width: 570px;
    padding: 17px;
  }
  .input::placeholder {
    font-family: var(--ff-primary);
    font-weight: 500;
    color: var(--grey-4);
    padding-left: 5px;
    font-size: 12px;
  }
  .domain-search {
    right: 210px;
    top: 78px;
    font-size: 12px;
  }
  .btns {
    top: 69px;
    right: 60px;
    padding: 10px 30px;
  }
  .domain-name {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
  }
  .domain-name li {
    list-style: none;
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 12px;
  }
}
/* ------------------laptop-------------------------------- */
@media screen and (max-width: 1024px) {
  .domain {
    width: 650px;
    height: 180px;
    margin-top: 230px;
    margin-left: 100px;
  }
  .domain p {
    font-size: 15px;
  }
  .domain input {
    margin: 15px 20px 0px 30px;
    width: 570px;
    padding: 17px;
  }
  .input::placeholder {
    font-family: var(--ff-primary);
    font-weight: 500;
    color: var(--grey-4);
    padding-left: 5px;
    font-size: 12px;
  }
  .domain-search {
    right: 210px;
    top: 78px;
    font-size: 12px;
  }
  .btns {
    top: 69px;
    right: 60px;
    padding: 10px 30px;
  }
  .domain-name {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
  }
  .domain-name li {
    list-style: none;
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 12px;
  }
}
/* ------------------tab-------------------------------- */
@media screen and (max-width: 768px) {
  .domain {
    width: 550px;
    height: 180px;
    margin-top: 230px;
    margin-left: 57px;
  }
  .domain p {
    font-size: 15px;
  }
  .domain input {
    margin: 15px 20px 0px 30px;
    width: 470px;
    padding: 17px;
  }
  .input::placeholder {
    font-family: var(--ff-primary);
    font-weight: 500;
    color: var(--grey-4);
    padding-left: 5px;
    font-size: 12px;
  }
  .domain-search {
    right: 210px;
    top: 75px;
    font-size: 12px;
  }
  .btns {
    top: 65px;
    right: 60px;
    padding: 10px 30px;
  }
  .domain-name {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
  }
  .domain-name li {
    list-style: none;
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 12px;
  }
}
/* ------------------mobile-------------------------------- */
@media screen and (max-width: 576px) {
  .domain {
    width: 420px;
    height: 180px;
    margin-top: 350px;
    margin-left: 31px;
  }
  .domain p {
    font-size: 15px;
  }
  .domain input {
    margin: 15px 20px 0px 30px;
    width: 370px;
    padding: 17px;
  }
  .input::placeholder {
    font-family: var(--ff-primary);
    font-weight: 500;
    color: var(--grey-4);
    padding-left: 5px;
    font-size: 10px;
  }
  .domain-search {
    right: 150px;
    top: 77px;
    font-size: 10px;
  }
  .btns {
    top: 65px;
    right: 28px;
    padding: 10px 20px;
  }
  .domain-name {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }
  .domain-name li {
    list-style: none;
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 10px;
  }
}
/* -----------------features------------------------- */
.features {
  display: flex;
  justify-content: center;
  margin-top: 230px;
  background-color: var(--grey-3);
  gap: 25px;
}
.card {
  width: 240px;
  height: 285px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border-radius: 10px;
  transition: var(--transition);
}
.card .img {
  width: 65px;
  height: 65px;
}
.card .img img {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  object-fit: cover;
}
.card h4 {
  font-family: var(--ff-primary);
  font-size: 20px;
  font-weight: 720;
  margin-top: 45px;
}
.card p {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--grey-6);
  margin-top: 10px;
  line-height: 23px;
  font-weight: 500;
  text-align: start;
}
.card:hover {
  transform: translateY(-22px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}
/* ----------------------------------tab-----------------------------------------------*/
@media screen and (max-width: 1200px) {
  .features {
    flex-wrap: wrap;
    gap: 50px;
    padding: 0px 20px;
  }
}
/* ----------------------------------mobile-----------------------------------------------*/
@media screen and (max-width: 576px) {
  .features-content h1 {
    font-size: 20px;
  }
  .features-content p {
    width: 400px;
    font-size: 13px;
  }
  .features {
    flex-wrap: wrap;
    gap: 50px;
  }
}
/* -----------------------------------Pricing Plan---------------------------------- */
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 95px;
  background-color: var(--clr-tertiary);
  padding: 1px;
  padding-bottom: 80px;
}
.pricing h1 {
  margin-top: 80px;

  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-weight: 700;
}
.prize {
  text-align: center;
  width: 400px;
  margin-top: 10px;
  font-family: var(--ff-primary);
  line-height: 23px;
  font-size: 14px;
  color: var(--grey-2);
  font-weight: 550;
}
.choose-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.choose-plan .card {
  position: relative;
  width: 300px;
  height: 450px;
  padding: 50px 0px;
  background-color: var(--white);
  text-align: center;
  margin-top: 67px;
  font-size: 17px;
  border-radius: 0;
  box-shadow: none;
  transition: var(--transition);
}
.choose-plan .card h1 {
  margin-top: 0;
}
.choose-plan .card h2 {
  margin-top: 17px;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: 40px;
}
.choose-plan .card h2 span {
  font-size: 15px;
  color: var(--grey-2);
}
.choose-plan .card h2 sup {
  margin-left: 5px;
  font-size: 17px;
  color: var(--grey-2);
}
.choose-plan .card h1 {
  text-transform: uppercase;
  color: var(--grey-2);
  font-family: var(--ff-primary);
}
.price-features {
  margin-bottom: 50px;
}
.choose-plan .price-features {
  list-style: none;
  margin-top: 35px;
  font-family: var(--ff-primary);
  color: var(--grey-4);
  font-size: 14px;
}
.choose-plan .price-features li {
  margin-top: 20px;
  font-weight: 600;
}
.choose-plan .card .btn {
  text-transform: uppercase;
  width: 140px;
  padding: 7px 17px;
  border-radius: 30px;
  border: 2px solid var(--clr-primary);
  text-decoration: none;
  color: var(--clr-primary);
  font-size: 14px;
  font-weight: 700;
  transition: var(--transition);
}
.choose-plan .card .btn:hover {
  color: var(--white);
  background-color: var(--clr-primary);
}
.choose-plan .card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.pop {
  position: absolute;
  padding: 5px 12px;
  top: -10px;
  left: 20px;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  background-color: var(--clr-primary);
  color: var(--white);
  font-size: 13px;
  font-weight: 500;
}
.design-1 {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: var(--clr-subtle);
  top: 100px;
  left: 70px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.design-1 div {
  margin-top: 15px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
}

.design {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--clr-subtle);
  bottom: -50px;
  right: 70px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.design div {
  margin-top: 20px;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  background-color: var(--white);
  border-radius: 50%;
} /* ------------------------lap------------------------------------- */
@media screen and (max-width: 1024px) {
  .choose-plan {
    flex-wrap: wrap;
  }
  .design-1 {
    width: 40px;
    height: 40px;
    top: 60px;
    left: 30px;
  }
  .design-1 div {
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }

  .design {
    width: 70px;
    height: 70px;
    bottom: -40px;
    right: 70px;
  }
  .design div {
    margin-top: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
  }
}
/* ------------------------tab------------------------------------- */
@media screen and (max-width: 900px) {
  .pricing h1 {
    font-size: 20px;
  }
  .pricing .prize {
    width: 340px;
    font-size: 13px;
  }
  .choose-plan {
    flex-wrap: wrap;
  }
  .design-1 {
    width: 40px;
    height: 40px;
    top: 60px;
    left: 30px;
  }
  .design-1 div {
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }

  .design {
    width: 70px;
    height: 70px;
    bottom: -40px;
    right: 70px;
  }
  .design div {
    margin-top: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
  }
}
/* ------------------------mobile------------------------------------- */
@media screen and (max-width: 576px) {
  .pricing h1 {
    font-size: 20px;
  }
  .pricing .prize {
    width: 340px;
    font-size: 13px;
  }
  .choose-plan {
    flex-wrap: wrap;
  }
  .design-1 {
    width: 40px;
    height: 40px;
    top: 60px;
    left: 30px;
  }
  .design-1 div {
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }

  .design {
    width: 70px;
    height: 70px;
    bottom: -40px;
    right: 70px;
  }
  .design div {
    margin-top: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
  }
}
/* ----------------------services------------------------------- */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1px;
  padding-bottom: 90px;
}
.services h1 {
  margin-top: 90px;
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-weight: 700;
}
.services .service-content {
  text-align: center;
  width: 400px;
  margin-top: 10px;
  font-family: var(--ff-primary);
  line-height: 23px;
  font-size: 14px;
  color: var(--grey-2);
  font-weight: 550;
}
.services-offered {
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
}
.hosting {
  margin-top: 40px;
  width: 300px;
}
.hosting h3 {
  font-size: 17px;
  font-weight: 500;
  color: var(--clr-primary);
}
.hosting p {
  font-weight: 600;
  margin-top: 17px;
  font-size: 14px;
  text-transform: none;
  color: var(--grey-4);
  line-height: 22px;
  margin-bottom: 15px;
}
.hosting a {
  color: var(--grey-1);
  font-size: 15px;
  font-weight: 700;
}
/* ---------------------------laptop----------------------------------- */
@media screen and (max-width: 1024px) {
  .services h1 {
    font-size: 22px;
  }
  .services .service-content {
    width: 380px;
    font-size: 14px;
  }
  .services-offered {
    grid-template-columns: auto auto;
    gap: 10px;
  }
}
/* ---------------------------tab----------------------------------- */
@media screen and (max-width: 778px) {
  .services h1 {
    font-size: 22px;
  }
  .services .service-content {
    width: 380px;
    font-size: 14px;
  }
  .services-offered {
    grid-template-columns: auto auto;
    gap: 10px;
  }
}
/* ---------------------------mobile----------------------------------- */
@media screen and (max-width: 676px) {
  .services h1 {
    font-size: 20px;
  }
  .services .service-content {
    width: 370px;
    font-size: 13px;
  }
  .services-offered {
    grid-template-columns: auto;
    gap: 20px;
  }
}
/* --------------------------purchase----------------------------------- */
.purchase {
  height: 318px;
  background: radial-gradient(
    1250px 850px at right bottom,
    var(--clr-secondary),
    var(--clr-primary)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  padding-left: 110px;
  overflow: hidden;
}
.buy h1 {
  width: 650px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: var(--ff-secondary);
  font-weight: 570;
  color: var(--white);
}
.buy p {
  width: 470px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 450;
  color: #dcdce2;
}
.buy .btn {
  margin-top: 35px;
  margin-right: 522px;
}
.buy .btn a {
  text-transform: uppercase;
  width: 140px;
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid var(--clr-primary);
  text-decoration: none;
  color: var(--clr-primary);
  font-size: 12px;
  font-weight: 700;
  background-color: var(--white);
}
.purchase .img {
  width: 320px;
  height: 300px;
  padding-top: 40px;
}
.purchase .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ----------------laptop------------------------ */
@media screen and (max-width: 1024px) {
  .purchase {
    height: 250px;
    display: block;
    position: relative;
    gap: 0px;
    padding: 0px 0px 0px 50px;
  }
  .buy {
    position: absolute;
    top: 50px;
    margin-left: 320px;
    width: 270px;
  }
  .purchase .img {
    width: 250px;
    height: 220px;
    padding-top: 70px;
  }
  .purchase .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .buy .btn {
    margin-top: 20px;
  }
  .buy .btn a {
    padding: 9px 21px;
    font-size: 10px;
  }
}
/* ---------------tab---------------------- */
@media screen and (max-width: 768px) {
  .purchase {
    height: 250px;
    display: block;
    position: relative;
    gap: 0px;
    padding: 0px 0px 0px 80px;
  }
  .buy {
    position: absolute;
    top: 50px;
    margin-left: 250px;
    width: 270px;
  }
  .buy h1 {
    font-size: 20px;
    font-family: var(--ff-secondary);
    font-weight: 570;
  }
  .buy p {
    width: 350px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 450;
    color: #dcdce2;
  }
  .purchase .img {
    width: 220px;
    height: 200px;
    padding-top: 70px;
  }
  .purchase .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .buy .btn {
    margin-top: 20px;
  }
  .buy .btn a {
    padding: 9px 21px;
    font-size: 10px;
  }
}
/* ----------mobile----------------- */
@media screen and (max-width: 576px) {
  .purchase {
    height: 250px;
    display: block;
    position: relative;
    gap: 0px;
    padding: 0px 20px;
  }
  .buy {
    position: absolute;
    top: 50px;
    margin-left: 200px;
    width: 270px;
  }
  .buy h1 {
    font-size: 15px;
    font-family: var(--ff-secondary);
    font-weight: 570;
  }
  .buy p {
    width: 260px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 450;
    color: #dcdce2;
  }
  .purchase .img {
    width: 170px;
    height: 190px;
    padding-top: 70px;
  }
  .purchase .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .buy .btn {
    margin-top: 20px;
  }
  .buy .btn a {
    padding: 9px 21px;
    font-size: 10px;
  }
}
/* ----------------------solution------------------------------- */
.solution {
  display: flex;
  justify-content: center;
  gap: 110px;
  padding-bottom: 47px;
}
.solution-info {
  margin-top: 85px;
}
.solution-info h1 {
  width: 400px;
  font-size: 30px;
  font-family: var(--ff-secondary);
}
.solution-info .line {
  margin-top: 30px;
  width: 70px;
  height: 2.5px;
  background-color: var(--grey-1);
}
.solution-info p {
  width: 470px;
  margin-top: 35px;
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--grey-4);
  line-height: 23px;
  font-weight: 550;
  margin-bottom: 30px;
}
.solution-info .btn {
  text-transform: uppercase;
  width: 140px;
  padding: 8px 25px;
  border-radius: 30px;
  border: 2px solid var(--clr-primary);
  text-decoration: none;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  background-color: var(--clr-primary);
}
.solution .img {
  margin-top: 48px;
  width: 400px;
  height: 400px;
}
.solution .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* -------------------------lap------------------------------- */
@media screen and (max-width: 1024px) {
  .solution {
    align-items: center;
    gap: 10px;
    padding-bottom: 100px;
  }
  .solution-info h1 {
    width: 400px;
    font-size: 30px;
  }
  .solution .img {
    margin-top: 40px;
    width: 300px;
    height: 300px;
  }
}
/* -------------------------tab------------------------------- */
@media screen and (max-width: 768px) {
  .solution {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .solution-info h1 {
    width: 350px;
    font-size: 25px;
    line-height: 28px;
  }
  .solution .img {
    margin-top: 40px;
    width: 300px;
    height: 300px;
  }
}
/* -------------------------mobile------------------------------- */
@media screen and (max-width: 576px) {
  .solution {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .solution-info h1 {
    width: 300px;
    font-size: 20px;
    line-height: 23px;
  }
  .solution-info p {
    width: 410px;
    font-size: 13px;
  }
  .solution .img {
    width: 300px;
    height: 300px;
  }
}
/* ----------------------client---------------------------- */
.clients {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-tertiary);
  justify-content: center;
  align-items: center;
}
.clients h3 {
  margin-top: 95px;
  color: var(--grey-9);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.clients .client {
  width: 450px;
  margin-top: 10px;
  color: var(--grey-2);
  font-size: 14px;
  line-height: 21px;
  font-family: var(--ff-primary);
  font-weight: 500;
  text-align: center;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin-bottom: 95px;
  margin-top: 50px;
}
.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 295px;
  padding: 35px;
  background-color: var(--white);
  transition: var(--transition);
}
.box .box-content {
  display: flex;
  border-bottom: 1px solid var(--grey-5);
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
.box-para {
  font-family: var(--ff-secondary);
  font-size: 12px;
  font-weight: 520;
  margin-bottom: 2px;
  color: var(--grey-2);
  text-align: start;
}
.box-para span {
  text-transform: capitalize;
  font-weight: 600;
}
.box .des {
  width: 240px;
  text-align: start;
  line-height: 23px;
  margin-top: 27px;
  font-size: 14px;
  font-family: var(--ff-primary);
  font-weight: 500;
  color: var(--grey-4);
}
.box .img {
  width: 50px;
  height: 50px;
  border: 3px solid var(--white);
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}
.box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.box:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.clients .svg {
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  padding: 5px;
}
.clients .ar-1 {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 10;
  color: var(--grey-4);
  top: 360px;
  left: 215px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.clients .ar-2 {
  text-align: center;
  font-size: 23px;
  line-height: 25px;
  font-weight: 20;
  color: var(--grey-2);
  top: 360px;
  right: 215px;
  background-color: #43e8e1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
/* -----------------------------desktop---------------------------------- */
@media screen and (max-width: 1200px) {
  .clients h3 {
    font-size: 23px;
  }
  .clients .client {
    width: 410px;
    margin-top: 20px;
    font-size: 13px;
  }
  .boxes {
    flex-wrap: wrap;
  }
  .clients .svg {
    height: 27px;
    width: 27px;
    text-align: center;
    line-height: 17px;
    font-size: large;
  }
  .clients .ar-1 {
    top: 370px;
    left: 20px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .clients .ar-2 {
    top: 370px;
    right: 20px;
    background-color: #43e8e1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
/* -----------------------------laptop---------------------------------- */
@media screen and (max-width: 1024px) {
  .clients h3 {
    font-size: 23px;
  }
  .clients .client {
    width: 410px;
    margin-top: 20px;
    font-size: 13px;
  }
  .boxes {
    flex-wrap: wrap;
  }
  .clients .svg {
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 22px;
  }
  .clients .ar-1 {
    top: 600px;
    left: 40px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .clients .ar-2 {
    top: 600px;
    right: 40px;
    background-color: #43e8e1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
/* -----------------------------tab---------------------------------- */
@media screen and (max-width: 768px) {
  .clients h3 {
    font-size: 20px;
  }
  .clients .client {
    width: 410px;
    margin-top: 20px;
    font-size: 13px;
  }
  .boxes {
    flex-direction: column;
  }
  .clients .svg {
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 22px;
  }
  .clients .ar-1 {
    top: 670px;
    left: 40px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .clients .ar-2 {
    top: 670px;
    right: 40px;
    background-color: #43e8e1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
/* -----------------------------mobile---------------------------------- */
@media screen and (max-width: 576px) {
  .clients h3 {
    font-size: 20px;
  }
  .clients .client {
    width: 410px;
    margin-top: 20px;
    font-size: 13px;
  }
  .boxes {
    flex-direction: column;
  }
  .clients .svg {
    height: 27px;
    width: 27px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
  }
  .clients .ar-1 {
    top: 670px;
    left: 35px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .clients .ar-2 {
    top: 670px;
    right: 35px;
    background-color: #43e8e1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}

/* --------------------------------newsletter------------------------------------- */
.newsletter {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0px 0px;
  padding-bottom: 60px;
}
.mail {
  width: 970px;
  height: 140px;
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  position: relative;
  overflow: hidden;
}
.subscribe h2 {
  color: var(--white);
  font-family: var(--ff-primary);
  font-size: 22px;
}
.sub-content {
  width: 194px;
  font-size: 14px;
  color: var(--white);
  font-family: var(--ff-primary);
  color: #efeef1;
  line-height: 22px;
  margin: 0px 10px;
}
.mail .progress {
  margin-top: 12px;
  width: 100px;
  height: 1.9px;
  background-color: var(--clr-line);
}
.mail .progress div {
  height: 100%;
  width: 40px;
  background-color: var(--white);
}
.mail .input {
  position: relative;
}
.mail .input input {
  width: 330px;
  height: 32px;
}
.input input::placeholder {
  padding-left: 17px;
  color: var(--grey-4);
  font-size: 12px;
  font-weight: 550;
  font-family: var(--ff-primary);
}
.mail .btn {
  border: none;
  outline: none;
  padding: 8.2px 25px;
  text-transform: uppercase;
  background-color: var(--clr-subtle);
  font-family: var(--ff-secondary);
  font-size: 12px;
  color: var(--grey-1);
  font-weight: 500;
  position: absolute;
  right: 0;
  bottom: 0;
}
.mail .img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 76px;
  left: -25px;
  rotate: 37deg;
  opacity: 0.3;
}
.mail .img img {
  width: 100%;
  height: 100%;
}
.mail .img-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 76px;
  right: -25px;
  rotate: 322deg;
  opacity: 0.3;
}
.mail .img-1 img {
  width: 100%;
  height: 100%;
}
/* -----------------tab--------------------------- */
@media screen and (max-width: 1024px) {
  .mail {
    width: 770px;
    height: 140px;
    flex-wrap: wrap;
    gap: 50px;
  }
  .subscribe h2 {
    font-size: 20px;
  }
  .sub-content {
    width: 154px;
    font-size: 12px;
    margin: 0px;
  }
  .mail .input input {
    width: 250px;
  }
  .input input::placeholder {
    font-size: 10px;
  }
  .mail .btn {
    padding: 8.2px 20px;
    font-size: 11px;
    right: 0;
    top: 0;
  }
}
/* -----------------tab--------------------------- */
@media screen and (max-width: 768px) {
  .mail {
    width: 570px;
    height: 140px;
    flex-wrap: wrap;
    gap: 0px;
  }
  .subscribe h2 {
    font-size: 20px;
  }
  .sub-content {
    width: 154px;
    font-size: 12px;
    margin: 0px;
    margin-left: 80px;
  }
  .mail .input input {
    width: 250px;
  }
  .input input::placeholder {
    font-size: 10px;
  }
  .mail .btn {
    padding: 8.2px 20px;
    font-size: 11px;
    right: 0;
    top: 0;
  }
}
/* -----------------mobile--------------------------- */
@media screen and (max-width: 576px) {
  .mail {
    width: 450px;
    height: 140px;
    flex-wrap: wrap;
    gap: 0px;
  }
  .subscribe h2 {
    font-size: 20px;
  }
  .sub-content {
    width: 154px;
    font-size: 12px;
    margin: 0px;
    margin-left: 50px;
  }
  .mail .input input {
    width: 250px;
  }
  .input input::placeholder {
    font-size: 10px;
  }
  .mail .btn {
    padding: 8.2px 20px;
    font-size: 11px;
    right: 0;
    top: 0;
  }
}
/* ----------brands-------------- */
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 75px;
}
.brands {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 70px;
}
.brands img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
/* ---------------desktop-------------------- */
@media screen and (max-width: 1200px) {
  .logos {
    padding: 50px 0px;
  }
  .brands {
    width: 90px;
    height: 90px;
    gap: 50px;
  }
  .brands img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* --------------laptop-------------------- */
@media screen and (max-width: 1024px) {
  .logos {
    padding: 50px 0px;
  }
  .brands {
    width: 80px;
    height: 80px;
    gap: 30px;
  }
  .brands img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* ------------tab------------------- */
@media screen and (max-width: 768px) {
  .logos {
    padding: 50px 0px;
  }
  .brands {
    width: 70px;
    height: 70px;
    gap: 30px;
  }
  .brands img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* --------------mobile-------------------- */
@media screen and (max-width: 576px) {
  .logos {
    padding: 30px 0px;
  }
  .brands {
    width: 50px;
    height: 50px;
    gap: 25px;
  }
  .brands img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* ------------------------Footer----------------------------- */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary);
  padding: 1px;
}
.footer-address {
  display: flex;
  justify-content: center;
  gap: 160px;
  padding: 0px 220px;
  margin-top: 70px;
  color: var(--grey-5);
}
.footer-address p {
  font-size: 17px;
}
.footer-address span {
  margin: 0 7px;
  font-weight: 100;
}
.footer .borders {
  width: 62%;
  height: 1px;
  background-color: #3726a6;
  margin-left: 10px;
  margin-top: 45px;
}
.footer .info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px 260px;
  margin-top: 70px;

  color: var(--white);
}
.footer .info h3 {
  font-family: var(--ff-secondary);
  font-weight: 500;
  text-transform: capitalize;
  color: var(--white);
}
.footer .info p {
  color: var(--white);
  font-weight: 375;
  font-size: 14px;
  text-transform: capitalize;
  text-align: start;
  font-family: var(--ff-primary);
  color: var(--grey-5);
  margin-bottom: 11px;
}
.footer .line {
  width: 110px;
  height: 2px;
  background-color: #3726a6;
  margin-top: 12px;
  margin-bottom: 30px;
}
.in-line {
  height: 100%;
  width: 40px;
  background-color: var(--white);
}
.in-line1 {
  height: 100%;
  width: 40px;
  background-color: var(--grey-4);
}
.footer .line1 {
  width: 104px;
  height: 2px;
  background-color: #3726a6;
  margin-top: 12px;
  margin-bottom: 30px;
}
.our-service {
  margin-right: 60px;
}
.link-latest {
  display: flex;
  gap: 70px;
}
.footer .info .latest {
  margin-top: 67px;
  width: 110px;
}
.footer .line2 {
  width: 38%;
  height: 2px;
  background-color: #3726a6;
  margin-top: 12px;
  margin-bottom: 30px;
}
.footer .line3 {
  width: 41%;
  height: 2px;
  background-color: #3726a6;
  margin-top: 12px;
  margin-bottom: 30px;
}
.news-letter {
  margin-left: 70px;
}
.news-letter p {
  margin-top: 25px;
  width: 230px;
  text-transform: lowercase;
  line-height: 23px;
}
.news-letter input {
  display: block;
  margin-top: 17px;
  padding: 7px 22px;
}
.news-letter input::placeholder {
  color: var(--grey-4);
  font-size: 12px;
  font-family: var(--ff-primary);
  font-weight: 500;
}
.footer .button {
  margin-top: 12px;
  outline: none;
  border: none;
  padding: 8px 22px;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-weight: 600;
  font-size: 11px;
  background-color: var(--clr-subtle);
  color: var(--grey-2);
}
.follow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px 10px;
}
.follow-info .logo {
  padding: 0px;
  margin: 0px;
  width: 150px;
  margin-right: 370px;
}
.follow-info p {
  width: 490px;
  margin-left: 17px;
  font-size: 13px;
  line-height: 22px;
  text-transform: none;
  color: var(--grey-5);
}
.follow-info h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-secondary);
}
.follow-info span {
  color: var(--white);
}
.footer .medias {
  display: block;
  margin-left: 200px;
  margin-top: 20px;
}
.medias h3 {
  text-transform: capitalize;
  color: var(--white);
  font-family: var(--ff-secondary);
  font-weight: 400;
  font-size: 19px;
}
.medias .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 11px;
  font-size: 12px;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--clr-subtle);
  border: 1px solid var(--clr-subtle);
  transition: var(--transition);
}
.social-media:hover {
  background-color: var(--clr-subtle);
  color: black;
}
.follow .borders {
  width: 62%;
  height: 1px;
  background-color: #3726a6;
  margin-left: 289px;
  margin-top: 65px;
}
.copyright {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
}
.copyright p {
  font-size: 12px;
  color: var(--grey-6);
  margin-left: 20px;
}
.copyright .img {
  height: 100%;
  margin-left: 370px;
  width: 257px;
  height: 30px;
}
.copyright .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* -------------desktop--------------------------- */
@media screen and (max-width: 1200px) {
  .footer-address {
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    justify-content: center;
    gap: 150px;
  }
  .footer-address p {
    font-size: 16px;
  }
  .footer .borders {
    width: 87%;
    height: 1px;
    background-color: #3726a6;
    margin-left: 0px;
    margin-top: 45px;
  }
  .footer .info {
    padding: 0px;
    justify-content: center;
  }
  .footer .info h3 {
    font-size: 16px;
  }
  .footer .info p {
    font-size: 13.5px;
  }
  .footer .line {
    width: 96px;
  }
  .in-line {
    width: 40px;
  }
  .in-line1 {
    width: 40px;
  }
  .our-service {
    margin-right: 140px;
  }
  .footer .line1 {
    width: 87px;
  }
  .link-latest {
    gap: 70px;
  }
  .footer .info .latest {
    width: 110px;
    margin-top: 61px;
  }
  .footer .line2 {
    width: 45%;
    height: 2px;
    background-color: #3726a6;
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .footer .line3 {
    width: 45%;
    height: 2px;
    background-color: #3726a6;
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .news-letter {
    margin-left: 140px;
  }
  .news-letter p {
    width: 194px;
  }
  .news-letter input {
    width: 195px;
    padding: 8px 0px;
  }
  .news-letter input::placeholder {
    font-size: 11px;
    padding-left: 10px;
  }
  .footer .button {
    padding: 9px 27px;
    font-size: 8px;
  }
  .follow {
    justify-content: center;
    align-items: center;
    gap: 225px;
  }
  .follow-info .logo {
    padding: 0px;
    margin: 0px;
    width: 150px;
  }
  .follow-info p {
    width: 440px;
    font-size: 13px;
    margin-right: 0px;
    line-height: 21px;
  }
  .follow-info h3 {
    font-size: 25px;
    margin-right: 20px;
  }
  .footer .medias {
    display: block;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .medias h3 {
    font-weight: 500;
    font-size: 16px;
  }
  .medias .icon {
    gap: 6px;
    font-size: 10px;
  }
  .social-media {
    text-align: center;
    width: 27px;
    height: 27px;
  }
  .social-media:hover {
    background-color: var(--clr-subtle);
    color: black;
  }
  .follow .borders {
    width: 92%;
    height: 1px;
    background-color: #3726a6;
    margin-left: 0px;
    margin-top: 45px;
  }
  .copyright {
    width: 100%;
    height: 100%;
    padding: 0 1px;
  }
  .copyright p {
    width: 379px;
    font-size: 13.5px;
    color: var(--grey-5);
    margin: 0px;
    margin-left: 1px;
    margin-right: 270px;
  }
  .copyright .img {
    margin-left: 0px;
    width: 220px;
    height: 160px;
  }
  .copyright .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* ------------laptop----------------------- */
@media screen and (max-width: 1024px) {
  .footer-address {
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    justify-content: center;
    gap: 97px;
  }
  .footer-address p {
    font-size: 14px;
  }
  .footer .borders {
    width: 92%;
    height: 1px;
    background-color: #3726a6;
    margin-left: 0px;
    margin-top: 45px;
  }
  .footer .info {
    padding: 0px;
    justify-content: center;
  }
  .footer .info h3 {
    font-size: 15px;
  }
  .footer .info p {
    font-size: 13px;
  }
  .footer .line {
    width: 90px;
  }
  .in-line {
    width: 35px;
  }
  .in-line1 {
    width: 30px;
  }
  .our-service {
    margin-right: 80px;
  }
  .footer .line1 {
    width: 80px;
  }
  .link-latest {
    gap: 50px;
  }
  .footer .info .latest {
    width: 110px;
    margin-top: 61px;
  }
  .footer .line2 {
    width: 44%;
    height: 2px;
    background-color: #3726a6;
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .footer .line3 {
    width: 50%;
    height: 2px;
    background-color: #3726a6;
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .news-letter {
    margin-left: 70px;
  }
  .news-letter p {
    width: 189px;
  }
  .news-letter input {
    width: 190px;
    padding: 7px 0px;
  }
  .news-letter input::placeholder {
    font-size: 10px;
    padding-left: 10px;
  }
  .footer .button {
    padding: 8px 20px;
    font-size: 7.9px;
  }
  .follow {
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .follow-info .logo {
    padding: 0px;
    margin: 0px;
    width: 150px;
  }
  .follow-info p {
    width: 400px;
    font-size: 13px;
    margin-right: 110px;
    line-height: 21px;
  }
  .follow-info h3 {
    font-size: 25px;
    margin-right: 20px;
  }
  .footer .medias {
    display: block;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .medias h3 {
    font-weight: 500;
    font-size: 15px;
  }
  .medias .icon {
    gap: 6px;
    font-size: 10px;
  }
  .social-media {
    text-align: center;
    width: 25px;
    height: 25px;
  }
  .social-media:hover {
    background-color: var(--clr-subtle);
    color: black;
  }
  .follow .borders {
    width: 92%;
    height: 1px;
    background-color: #3726a6;
    margin-left: 0px;
    margin-top: 45px;
  }
  .copyright {
    width: 100%;
    height: 100%;
    padding: 0 1px;
  }
  .copyright p {
    width: 350px;
    font-size: 13px;
    color: var(--grey-5);
    margin: 0px;
    margin-left: 1px;
  }
  .copyright .img {
    margin-left: 185px;
    width: 160px;
    height: 160px;
  }
  .copyright .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* -----------tab---------------------- */
@media screen and (max-width: 768px) {
  .footer-address {
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    justify-content: center;
    gap: 57px;
  }
  .footer-address p {
    font-size: 13px;
  }
  .footer .borders {
    width: 92%;
    height: 1px;
    background-color: #3726a6;
    margin-left: 0px;
    margin-top: 45px;
  }
  .footer .info {
    padding: 0px;
    justify-content: center;
  }
  .footer .info h3 {
    font-size: 14px;
  }
  .footer .info p {
    font-size: 13px;
  }
  .footer .line {
    width: 85px;
  }
  .in-line {
    width: 35px;
  }
  .in-line1 {
    width: 30px;
  }
  .our-service {
    margin-right: 60px;
  }
  .footer .line1 {
    width: 77px;
  }
  .link-latest {
    gap: 30px;
  }
  .footer .info .latest {
    width: 110px;
    margin-top: 61px;
  }
  .footer .line2 {
    width: 42%;
    height: 2px;
    background-color: #3726a6;
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .footer .line3 {
    width: 50%;
    height: 2px;
    background-color: #3726a6;
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .news-letter {
    margin-left: 20px;
  }
  .news-letter p {
    width: 170px;
  }
  .news-letter input {
    width: 180px;
    padding: 7px 0px;
  }
  .news-letter input::placeholder {
    font-size: 10px;
    padding-left: 10px;
  }
  .footer .button {
    padding: 8px 16px;
    font-size: 7.7px;
  }
  .follow {
    justify-content: center;
    align-items: center;
  }
  .follow-info .logo {
    padding: 0px;
    margin: 0px;
    width: 150px;
  }
  .follow-info p {
    width: 390px;
    font-size: 13px;
    margin-right: 27px;
    line-height: 21px;
  }
  .follow-info h3 {
    font-size: 17px;
    margin-right: 50px;
  }
  .footer .medias {
    display: block;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .medias h3 {
    font-weight: 500;
    font-size: 14px;
  }
  .medias .icon {
    gap: 5px;
    font-size: 9px;
  }
  .social-media {
    text-align: center;
    width: 20px;
    height: 20px;
  }
  .social-media:hover {
    background-color: var(--clr-subtle);
    color: black;
  }
  .follow .borders {
    width: 92%;
    height: 1px;
    background-color: #3726a6;
    margin-left: 0px;
    margin-top: 45px;
  }
  .copyright {
    height: 100%;
    padding: 0 1px;
  }
  .copyright p {
    width: 350px;
    font-size: 12px;
    color: var(--grey-5);
    margin: 0px;
    margin-left: 1px;
  }
  .copyright .img {
    margin-left: 80px;
    width: 160px;
    height: 160px;
  }
  .copyright .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* -------------mobile--------------------------------- */
@media screen and (max-width: 576px) {
  .footer-address {
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    justify-content: center;
    gap: 35px;
  }
  .footer-address p {
    font-size: 10px;
  }
  .footer .borders {
    width: 92%;
    height: 1px;
    background-color: #3726a6;
    margin-left: 0px;
    margin-top: 45px;
  }
  .footer .info {
    padding: 0px;
    justify-content: center;
  }
  .footer .info h3 {
    font-family: var(--ff-secondary);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white);
    font-size: 12px;
  }
  .footer .info p {
    font-size: 10px;
  }
  .footer .line {
    width: 73px;
  }
  .in-line {
    width: 30px;
  }
  .in-line1 {
    width: 30px;
  }
  .our-service {
    margin-right: 35px;
  }
  .footer .line1 {
    width: 67px;
  }
  .link-latest {
    gap: 30px;
  }
  .footer .info .latest {
    width: 80px;
    margin-top: 61px;
  }
  .footer .line2 {
    width: 48%;
    height: 2px;
    background-color: #3726a6;
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .footer .line3 {
    width: 41%;
    height: 2px;
    background-color: #3726a6;
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .news-letter {
    margin-left: 20px;
  }
  .news-letter p {
    width: 130px;
  }
  .news-letter input {
    width: 130px;
    padding: 7px 0px;
  }
  .news-letter input::placeholder {
    font-size: 9px;
    padding-left: 10px;
  }
  .footer .button {
    padding: 8px 15px;
    font-size: 7.5px;
  }
  .follow {
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .follow-info .logo {
    padding: 0px;
    margin: 0px;
    width: 150px;
    margin: 0px;
  }
  .follow-info p {
    width: 280px;
    font-size: 10px;
    margin-right: 35px;
    line-height: 19px;
  }
  .follow-info h3 {
    font-size: 14px;
    margin-right: 60px;
  }
  .footer .medias {
    display: block;
    margin-left: 15px;
    margin-top: 20px;
  }
  .medias h3 {
    font-weight: 500;
    font-size: 12.5px;
  }
  .medias .icon {
    gap: 5px;
    font-size: 8px;
  }
  .social-media {
    width: 15px;
    height: 15px;
  }
  .social-media:hover {
    background-color: var(--clr-subtle);
    color: black;
  }
  .follow .borders {
    width: 92%;
    height: 1px;
    background-color: #3726a6;
    margin-left: 0px;
    margin-top: 45px;
  }
  .copyright {
    padding: 0 10px;
  }
  .copyright p {
    width: 270px;
    font-size: 10px;
    color: var(--grey-5);
    margin: 0px;
    margin-left: 10px;
  }
  .copyright .img {
    margin-left: 50px;
    width: 150px;
    height: 150px;
  }
  .copyright .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
